WITH CTE AS
(
    SELECT
        -- Core fields
        [NHSNUMBER],
        [PracticeCode],
        [PracticeName],
        [CCGcode],
        [CCGname],
        [AgeGroup],

        -- Overall status
        CASE WHEN [UpToDate] = 'Yes' THEN 1 ELSE 0 END AS AllVaccinesNumerator,
        CASE WHEN [UpToDate] IS NOT NULL THEN 1 ELSE 0 END AS AllVaccinesDenominator,

        -- Primaries
        CASE WHEN [UpToDatePrimary] = 'Yes' THEN 1 ELSE 0 END AS PrimariesNumerator,
        CASE WHEN [UpToDatePrimary] IS NOT NULL THEN 1 ELSE 0 END AS PrimariesDenominator,

        -- 12 Month
        CASE WHEN [UpToDate12Month] = 'Yes' THEN 1 ELSE 0 END AS [12MonthNumerator],
        CASE WHEN [UpToDate12Month] IS NOT NULL THEN 1 ELSE 0 END AS [12MonthDenominator],

        -- 18 Month
        CASE WHEN [UpToDate18Month] = 'Yes' THEN 1 ELSE 0 END AS [18MonthNumerator],
        CASE WHEN [UpToDate18Month] IS NOT NULL THEN 1 ELSE 0 END AS [18MonthDenominator],

        -- PreSchool / School
        CASE WHEN [UpToDatePreSchool] = 'Yes' THEN 1 ELSE 0 END AS PreSchoolNumerator,
        CASE WHEN [UpToDatePreSchool] IS NOT NULL THEN 1 ELSE 0 END AS PreSchoolDenominator,

        CASE WHEN [UpToDateSchool] = 'Yes' THEN 1 ELSE 0 END AS SchoolNumerator,
        CASE WHEN [UpToDateSchool] IS NOT NULL THEN 1 ELSE 0 END AS SchoolDenominator,

        -- Vaccines
        CASE WHEN RIGHT([4IN1], 1) = 1 THEN 1 ELSE 0 END AS [4IN1_Numerator],
        CASE WHEN [4IN1] IS NOT NULL THEN 1 ELSE 0 END AS [4IN1_Denominator],

        CASE WHEN RIGHT([6IN1-Primary], 1) = 1 THEN 1 ELSE 0 END AS [6IN1-Primary_Numerator],
        CASE WHEN [6IN1-Primary] IS NOT NULL THEN 1 ELSE 0 END AS [6IN1-Primary_Denominator],

        CASE WHEN RIGHT([6IN1-18Month], 1) = 1 THEN 1 ELSE 0 END AS [6IN1-18Month_Numerator],
        CASE WHEN [6IN1-18Month] IS NOT NULL THEN 1 ELSE 0 END AS [6IN1-18Month_Denominator],

        CASE WHEN RIGHT([DTP], 1) = 1 THEN 1 ELSE 0 END AS [DTP_Numerator],
        CASE WHEN [DTP] IS NOT NULL THEN 1 ELSE 0 END AS [DTP_Denominator],

        CASE WHEN RIGHT([HIBMENC], 1) = 1 THEN 1 ELSE 0 END AS [HIBMENC_Numerator],
        CASE WHEN [HIBMENC] IS NOT NULL THEN 1 ELSE 0 END AS [HIBMENC_Denominator],

        CASE WHEN RIGHT([HPV], 1) = 1 THEN 1 ELSE 0 END AS [HPV_Numerator],
        CASE WHEN [HPV] IS NOT NULL AND RIGHT([HPV], 1) <> 4 THEN 1 ELSE 0 END AS [HPV_Denominator],

        CASE WHEN RIGHT([MEACWY], 1) = 1 THEN 1 ELSE 0 END AS [MEACWY_Numerator],
        CASE WHEN [MEACWY] IS NOT NULL THEN 1 ELSE 0 END AS [MEACWY_Denominator],

        CASE WHEN RIGHT([MENB-12Month], 1) = 1 THEN 1 ELSE 0 END AS [MENB-12Month_Numerator],
        CASE WHEN [MENB-12Month] IS NOT NULL THEN 1 ELSE 0 END AS [MENB-12Month_Denominator],

        CASE WHEN RIGHT([MENB-PRIMARY], 1) = 1 THEN 1 ELSE 0 END AS [MENB-PRIMARY_Numerator],
        CASE WHEN [MENB-PRIMARY] IS NOT NULL THEN 1 ELSE 0 END AS [MENB-PRIMARY_Denominator],

        CASE WHEN RIGHT([MMR-2], 1) = 1 THEN 1 ELSE 0 END AS [MMR-2_Numerator],
        CASE WHEN [MMR-2] IS NOT NULL THEN 1 ELSE 0 END AS [MMR-2_Denominator],

        CASE WHEN RIGHT([MMRV-2], 1) = 1 THEN 1 ELSE 0 END AS [MMRV2_Numerator],
        CASE WHEN [MMRV-2] IS NOT NULL THEN 1 ELSE 0 END AS [MMRV2_Denominator],

        CASE WHEN RIGHT([MMRV-1], 1) = 1 THEN 1 ELSE 0 END AS [MMRV1_Numerator],
        CASE WHEN [MMRV-1] IS NOT NULL THEN 1 ELSE 0 END AS [MMRV1_Denominator],

        CASE WHEN RIGHT([MMR-1], 1) = 1 THEN 1 ELSE 0 END AS [MMR-1_Numerator],
        CASE WHEN [MMR-1] IS NOT NULL THEN 1 ELSE 0 END AS [MMR-1_Denominator],

        CASE WHEN RIGHT([PCV-12Month], 1) = 1 THEN 1 ELSE 0 END AS [PCV-12Month_Numerator],
        CASE WHEN [PCV-12Month] IS NOT NULL THEN 1 ELSE 0 END AS [PCV-12Month_Denominator],

        CASE WHEN RIGHT([PCV-PRIMARY], 1) = 1 THEN 1 ELSE 0 END AS [PCV-PRIMARY_Numerator],
        CASE WHEN [PCV-PRIMARY] IS NOT NULL THEN 1 ELSE 0 END AS [PCV-PRIMARY_Denominator],

        CASE WHEN RIGHT([MMR(V)-1], 1) = 1 THEN 1 ELSE 0 END AS [MMR(V)1_Numerator],
        CASE WHEN [MMR(V)-1] IS NOT NULL THEN 1 ELSE 0 END AS [MMR(V)1_Denominator],

        CASE WHEN RIGHT([MMR(V)-2], 1) = 1 THEN 1 ELSE 0 END AS [MMR(V)2_Numerator],
        CASE WHEN [MMR(V)-2] IS NOT NULL THEN 1 ELSE 0 END AS [MMR(V)2_Denominator],

        CASE 
            WHEN RIGHT([ROTA], 1) = 1 
             AND AgeInMonths >= 3 
             AND AgeInMonths < 6 THEN 1 
            ELSE 0 
        END AS [ROTA-PRIMARY_Numerator],

        CASE 
            WHEN [ROTA] IS NOT NULL 
             AND AgeInMonths >= 3 
             AND AgeInMonths < 6 THEN 1 
            ELSE 0 
        END AS [ROTA-PRIMARY_Denominator],

        (SELECT MAX(va_date) FROM [CHIS_DW].[dbo].[tbl_V&I_reporting_MASTER_v2]) AS va_date

    FROM [CHIS_DW].[dbo].[tbl_V&I_reporting_MASTER_v2]

    GROUP BY
        [NHSNUMBER],
        [PracticeCode],
        [PracticeName],
        [CCGcode],
        [CCGname],
        [AgeGroup],
        [4IN1],
        [6IN1-Primary],
        [6IN1-18Month],
        [MMRV-1],
        [MMR(V)-2],
        [MMR(V)-1],
        [MMRV-2],
        [DTP],
        [HIBMENC],
        [HPV],
        [MEACWY],
        [MENB-12Month],
        [MENB-PRIMARY],
        [MMR-2],
        [MMR-1],
        [PCV-12Month],
        [PCV-PRIMARY],
        [ROTA],
        [AgeInMonths]
)

INSERT INTO [CHIS_DW].[dbo].[tbl_V&I_Aggregate]
(
    [PracticeCode],
    [PracticeName],
    [CCGcode],
    [CCGname],
    [AgeGroup],

    [AllVaccines_Numerator],
    [AllVaccines_Denominator],
    [AllVaccines_Uptake],

    [Primaries_Numerator],
    [Primaries_Denominator],
    [Primaries_Uptake],

    [12Month_Numerator],
    [12Month_Denominator],
    [12Month_Uptake],

    [18Month_Numerator],
    [18Month_Denominator],
    [18Month_Uptake],

    [Preschool_Numerator],
    [Preschool_Denominator],
    [Preschool_Uptake],

    [School_Numerator],
    [School_Denominator],
    [School_Uptake],

    [DTaP/IPV/Hib(/HepB) Primary_Numerator],
    [DTaP/IPV/Hib(/HepB) Primary_Denominator],
    [DTaP/IPV/Hib(/HepB) Primary_Uptake],

    [DTaP/IPV/Hib(/HepB) 18Month_Numerator],
    [DTaP/IPV/Hib(/HepB) 18Month_Denominator],
    [DTaP/IPV/Hib(/HepB) 18Month_Uptake],

    [PCV Primary_Numerator],
    [PCV Primary_Denominator],
    [PCV Primary_Uptake],

    [MenB Primary_Numerator],
    [MenB Primary_Denominator],
    [MenB Primary_Uptake],

    [Hib/MenC 12Month_Numerator],
    [Hib/MenC 12Month_Denominator],
    [Hib/MenC 12Month_Uptake],

    [PCV 12Month_Numerator],
    [PCV 12Month_Denominator],
    [PCV 12Month_Uptake],

    [MenB 12Month_Numerator],
    [MenB 12Month_Denominator],
    [MenB 12Month_Uptake],

    [MMR1_Numerator],
    [MMR1_Denominator],
    [MMR1_Uptake],

    [MMRV1_Numerator],
    [MMRV1_Denominator],
    [MMRV1_Uptake],

    [DTaP/IPV_Numerator],
    [DTaP/IPV_Denominator],
    [DTaP/IPV_Uptake],

    [MMR2_Numerator],
    [MMR2_Denominator],
    [MMR2_Uptake],

    [MMRV2_Numerator],
    [MMRV2_Denominator],
    [MMRV2_Uptake],

    [Td/IPV_Numerator],
    [Td/IPV_Denominator],
    [Td/IPV_Uptake],

    [HPV_Numerator],
    [HPV_Denominator],
    [HPV_Uptake],

    [Rotavirus_Numerator],
    [Rotavirus_Denominator],
    [Rotavirus_Uptake],

    [MenACWY_Numerator],
    [MenACWY_Denominator],
    [MenACWY_Uptake],

    [MMR(V)1_Numerator],
    [MMR(V)1_Denominator],
    [MMR(V)1_Uptake],

    [MMR(V)2_Numerator],
    [MMR(V)2_Denominator],
    [MMR(V)2_Uptake],

    [va_date],
    [va_FirstOfMonth]
)
SELECT
    CTE.[PracticeCode],
    CTE.[PracticeName],
    CTE.[CCGcode],
    CTE.[CCGname],
    CTE.[AgeGroup],

    SUM([AllVaccinesNumerator]) AS [AllVaccines_Numerator],
    SUM([AllVaccinesDenominator]) AS [AllVaccines_Denominator],
    CAST(
        CAST(SUM([AllVaccinesNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([AllVaccinesDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [AllVaccines_Uptake],

    SUM([PrimariesNumerator]) AS [Primaries_Numerator],
    SUM([PrimariesDenominator]) AS [Primaries_Denominator],
    CAST(
        CAST(SUM([PrimariesNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([PrimariesDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [Primaries_Uptake],

    SUM([12MonthNumerator]) AS [12Month_Numerator],
    SUM([12MonthDenominator]) AS [12Month_Denominator],
    CAST(
        CAST(SUM([12MonthNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([12MonthDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [12Month_Uptake],

    SUM([18MonthNumerator]) AS [18Month_Numerator],
    SUM([18MonthDenominator]) AS [18Month_Denominator],
    CAST(
        CAST(SUM([18MonthNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([18MonthDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [18Month_Uptake],

    SUM([PreSchoolNumerator]) AS [Preschool_Numerator],
    SUM([PreSchoolDenominator]) AS [Preschool_Denominator],
    CAST(
        CAST(SUM([PreSchoolNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([PreSchoolDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [Preschool_Uptake],

    SUM([SchoolNumerator]) AS [School_Numerator],
    SUM([SchoolDenominator]) AS [School_Denominator],
    CAST(
        CAST(SUM([SchoolNumerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([SchoolDenominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [School_Uptake],

    SUM([6IN1-Primary_Numerator]) AS [DTaP/IPV/Hib(/HepB) Primary_Numerator],
    SUM([6IN1-Primary_Denominator]) AS [DTaP/IPV/Hib(/HepB) Primary_Denominator],
    CAST(
        CAST(SUM([6IN1-Primary_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([6IN1-Primary_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [DTaP/IPV/Hib(/HepB) Primary_Uptake],

    SUM([6IN1-18Month_Numerator]) AS [DTaP/IPV/Hib(/HepB) 18Month_Numerator],
    SUM([6IN1-18Month_Denominator]) AS [DTaP/IPV/Hib(/HepB) 18Month_Denominator],
    CAST(
        CAST(SUM([6IN1-18Month_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([6IN1-18Month_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [DTaP/IPV/Hib(/HepB) 18Month_Uptake],

    SUM([PCV-PRIMARY_Numerator]) AS [PCV Primary_Numerator],
    SUM([PCV-PRIMARY_Denominator]) AS [PCV Primary_Denominator],
    CAST(
        CAST(SUM([PCV-PRIMARY_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([PCV-PRIMARY_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [PCV Primary_Uptake],

    SUM([MENB-PRIMARY_Numerator]) AS [MenB Primary_Numerator],
    SUM([MENB-PRIMARY_Denominator]) AS [MenB Primary_Denominator],
    CAST(
        CAST(SUM([MENB-PRIMARY_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MENB-PRIMARY_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MenB Primary_Uptake],

    SUM([HIBMENC_Numerator]) AS [Hib/MenC 12Month_Numerator],
    SUM([HIBMENC_Denominator]) AS [Hib/MenC 12Month_Denominator],
    CAST(
        CAST(SUM([HIBMENC_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([HIBMENC_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [Hib/MenC 12Month_Uptake],

    SUM([PCV-12Month_Numerator]) AS [PCV 12Month_Numerator],
    SUM([PCV-12Month_Denominator]) AS [PCV 12Month_Denominator],
    CAST(
        CAST(SUM([PCV-12Month_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([PCV-12Month_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [PCV 12Month_Uptake],

    SUM([MENB-12Month_Numerator]) AS [MenB 12Month_Numerator],
    SUM([MENB-12Month_Denominator]) AS [MenB 12Month_Denominator],
    CAST(
        CAST(SUM([MENB-12Month_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MENB-12Month_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MenB 12Month_Uptake],

    SUM([MMR-1_Numerator]) AS [MMR1_Numerator],
    SUM([MMR-1_Denominator]) AS [MMR1_Denominator],
    CAST(
        CAST(SUM([MMR-1_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMR-1_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMR1_Uptake],

    SUM([MMRV1_Numerator]) AS [MMRV1_Numerator],
    SUM([MMRV1_Denominator]) AS [MMRV1_Denominator],
    CAST(
        CAST(SUM([MMRV1_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMRV1_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMRV1_Uptake],

    SUM([4IN1_Numerator]) AS [DTaP/IPV_Numerator],
    SUM([4IN1_Denominator]) AS [DTaP/IPV_Denominator],
    CAST(
        CAST(SUM([4IN1_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([4IN1_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [DTaP/IPV_Uptake],

    SUM([MMR-2_Numerator]) AS [MMR2_Numerator],
    SUM([MMR-2_Denominator]) AS [MMR2_Denominator],
    CAST(
        CAST(SUM([MMR-2_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMR-2_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMR2_Uptake],

    SUM([MMRV2_Numerator]) AS [MMRV2_Numerator],
    SUM([MMRV2_Denominator]) AS [MMRV2_Denominator],
    CAST(
        CAST(SUM([MMRV2_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMRV2_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMRV2_Uptake],

    SUM([DTP_Numerator]) AS [Td/IPV_Numerator],
    SUM([DTP_Denominator]) AS [Td/IPV_Denominator],
    CAST(
        CAST(SUM([DTP_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([DTP_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [Td/IPV_Uptake],

    SUM([HPV_Numerator]) AS [HPV_Numerator],
    SUM([HPV_Denominator]) AS [HPV_Denominator],
    CAST(
        CAST(SUM([HPV_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([HPV_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [HPV_Uptake],

    SUM([ROTA-PRIMARY_Numerator]) AS [Rotavirus_Numerator],
    SUM([ROTA-PRIMARY_Denominator]) AS [Rotavirus_Denominator],
    CAST(
        CAST(SUM([ROTA-PRIMARY_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([ROTA-PRIMARY_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [Rotavirus_Uptake],

    SUM([MEACWY_Numerator]) AS [MenACWY_Numerator],
    SUM([MEACWY_Denominator]) AS [MenACWY_Denominator],
    CAST(
        CAST(SUM([MEACWY_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MEACWY_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MenACWY_Uptake],

    SUM([MMR(V)1_Numerator]) AS [MMR(V)1_Numerator],
    SUM([MMR(V)1_Denominator]) AS [MMR(V)1_Denominator],
    CAST(
        CAST(SUM([MMR(V)1_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMR(V)1_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMR(V)1_Uptake],

    SUM([MMR(V)2_Numerator]) AS [MMR(V)2_Numerator],
    SUM([MMR(V)2_Denominator]) AS [MMR(V)2_Denominator],
    CAST(
        CAST(SUM([MMR(V)2_Numerator]) AS DECIMAL) /
        NULLIF(CAST(SUM([MMR(V)2_Denominator]) AS DECIMAL), 0)
        AS DECIMAL(38,4)
    ) AS [MMR(V)2_Uptake],

    CTE.va_date,
    CASE WHEN va_first_of_month.min_va_date IS NOT NULL THEN 1 ELSE 0 END AS [va_FirstOfMonth]
FROM CTE
INNER JOIN [Reference].[dbo].[tbl_ref_SCW_GP] gp
    ON gp.PracticeCode = CTE.PracticeCode
   AND gp.Closedate IS NULL
INNER JOIN [CarePlus].[dbo].[tbl_N05_Reference_Practice] rp
    ON rp.[Practice Code] = CTE.PracticeCode
   AND rp.[In Use Flag] = 'Y'
LEFT JOIN
(
    SELECT
        CAST(DATEPART(YEAR, [va_date]) AS VARCHAR) + CAST(DATEPART(MONTH, [va_date]) AS VARCHAR) AS YearMonth,
        MIN([va_date]) AS min_va_date
    FROM [CHIS_DW].[dbo].[tbl_V&I_Aggregate]
    GROUP BY
        CAST(DATEPART(YEAR, [va_date]) AS VARCHAR) + CAST(DATEPART(MONTH, [va_date]) AS VARCHAR)
) AS va_first_of_month
    ON va_first_of_month.min_va_date = CTE.va_date
WHERE AgeGroup <> '19+'
GROUP BY
    CTE.[PracticeCode],
    CTE.[PracticeName],
    CTE.[CCGcode],
    CTE.[CCGname],
    CTE.[AgeGroup],
    CTE.va_date,
    CASE WHEN va_first_of_month.min_va_date IS NOT NULL THEN 1 ELSE 0 END;

-- Update va_current = 1 for latest snapshot
UPDATE [CHIS_DW].[dbo].[tbl_V&I_Aggregate]
SET va_current =
    CASE
        WHEN va_date = (SELECT MAX(va_date) FROM [CHIS_DW].[dbo].[tbl_V&I_Aggregate]) THEN 1
        ELSE 0
    END;

-- Update first-of-month flag
UPDATE [CHIS_DW].[dbo].[tbl_V&I_Aggregate]
SET va_firstofmonth = 1
WHERE va_date IN
(
    SELECT MIN([va_date]) AS va_date
    FROM [CHIS_DW].[dbo].[tbl_V&I_Aggregate]
    GROUP BY
        CAST(DATEPART(YEAR, [va_date]) AS VARCHAR) +
        CAST(DATEPART(MONTH, [va_date]) AS VARCHAR)
);